extends layout

block content

  .jumbotron
    .container
      h1 How may I help you?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta ex dictum mauris pharetra elementum. In nec facilisis urna. Proin non dui tincidunt est bibendum ornare. Donec sed tortor id mi suscipit tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel leo pharetra, vulputate neque sit amet, dignissim lacus. Proin convallis leo vel massa condimentum egestas.
      a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        p Ut consequat arcu magna, eget pulvinar lectus rutrum ut. Fusce ac odio tortor. Fusce cursus porttitor est vitae dapibus. Sed vitae fringilla elit, eu mattis ex. Phasellus fringilla feugiat tellus, eu viverra quam molestie nec. Donec porta ipsum sit amet felis feugiat finibus. Nunc diam arcu, vestibulum a mauris a, vehicula porta felis.
        a.btn.btn-default(href="#") View more &raquo;
      .col-md-4
        h2 About Us
        p Ut consequat arcu magna, eget pulvinar lectus rutrum ut. Fusce ac odio tortor. Fusce cursus porttitor est vitae dapibus. Sed vitae fringilla elit, eu mattis ex. Phasellus fringilla feugiat tellus, eu viverra quam molestie nec. Donec porta ipsum sit amet felis feugiat finibus. Nunc diam arcu, vestibulum a mauris a, vehicula porta felis.
        a.btn.btn-default(href="#") View more &raquo;
      .col-md-4
        h2 About Us
        p Ut consequat arcu magna, eget pulvinar lectus rutrum ut. Fusce ac odio tortor. Fusce cursus porttitor est vitae dapibus. Sed vitae fringilla elit, eu mattis ex. Phasellus fringilla feugiat tellus, eu viverra quam molestie nec. Donec porta ipsum sit amet felis feugiat finibus. Nunc diam arcu, vestibulum a mauris a, vehicula porta felis.
        a.btn.btn-default(href="#") View more &raquo;
